::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #ffae18;
}

::selection {
  color: #fff;; 
  background: #ffae18;
}

body {
    background: #fff;
    color: #666666;
    font-family: "Nithan","Open Sans", sans-serif;
    overflow-x: hidden;
  }
  
  a {
    color: #1dc8cd;
    transition: 0.5s;
  }
  
  a:hover, a:active, a:focus {
    color: #1dc9ce;
    outline: none;
    text-decoration: none;
  }
  
  p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Nithan","Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }
  
  
  /* Back to top button */
  .back-to-top {
    position: fixed;
    display: none;
    background: linear-gradient(45deg, #ff5411, #ff8018);
    color: #fff;
    padding: 2px 20px 8px 20px;
    font-size: 16px;
    border-radius: 4px 4px 0 0;
    right: 15px;
    bottom: 0;
    transition: none;
  }
  
  .back-to-top:focus {
   background: linear-gradient(45deg, #ff701d, #ff5825);
    color: #fff;
    outline: none;
  }
  
  .back-to-top:hover {
    background: linear-gradient(45deg, #ff6811, #ffae18);
    color: #fff;
  }

  /* Back to top button */
  .contact-to {
      position: fixed;
      display: none;
      background: linear-gradient(45deg, #ff5411, #ff8018);
      color: #fff;
      padding: 15px 70px 15px 70px;
      font-size: 16px;
      width: 20vw;
      height: 5vh;
      border-radius: 4px 4px 0 0;
      right: 10px;
      bottom: 0;
      transition: none;
      display: inline;
      z-index: 99;
      -webkit-transform: translateZ(99px);
      -webkit-transform: translate3d(0,0,0);
      -webkit-perspective: 1000;
    }
    
    .contact-to:focus {
      background: linear-gradient(45deg, #ff701d, #ff5825);
      color: #fff;
      outline: none;
    }
    
    .contact-to:hover {
      background: linear-gradient(45deg, #ff6811, #ffae18);
      color: #fff;
    }

    @media (max-width: 768px) {
      .contact-to {
        padding: 10px;
        width: 33vw;
        height: 8vh;
        right: 0px;
      }

    }
        /* Back to top button */

  .promo-to {
    position: fixed;
    display: none;
    background: linear-gradient(45deg, #ff5411, #ff8018);
    color: #fff;
    padding: 15px 70px 15px 70px;
    font-size: 16px;
    width: 20vw;
    height: 5vh;
    border-radius: 4px 4px 0 0;
    right: 10px;
    bottom: 0;
    transition: none;
    display: inline;
    z-index: 99;
    -webkit-transform: translateZ(99px);
    -webkit-transform: translate3d(0,0,0);
    -webkit-perspective: 1000;
  }
  
  .promo-to:focus {
    background: linear-gradient(45deg, #ff701d, #ff5825);
    color: #fff;
    outline: none;
  }
  
  .promo-to:hover {
    background: linear-gradient(45deg, #ff6811, #ffae18);
    color: #fff;
  }

  @media (max-width: 768px) {
    .promo-to {
      padding: 10px;
      width: 33vw;
      height: 8vh;
      right: 34vw;
    }

  }



    .homedesign-to {
      position: fixed;
      display: none;
      background: linear-gradient(45deg, #ff5411, #ff8018);
      color: #fff;
      padding: 15px 70px 15px 70px;
      font-size: 16px;
      width: 20vw;
      height: 5vh;
      border-radius: 4px 4px 0 0;
      right: 10px;
      bottom: 0;
      transition: none;
      display: inline;
      z-index: 99;
      -webkit-transform: translateZ(99px);
      -webkit-transform: translate3d(0,0,0);
      -webkit-perspective: 1000;
    }
    
    .homedesign-to {
      background: linear-gradient(45deg, #ff701d, #ff5825);
      color: #fff;
      outline: none;
    }
    
    .homedesign-to {
      background: linear-gradient(45deg, #ff6811, #ffae18);
      color: #fff;
    }

    @media (max-width: 768px) {
      .homedesign-to {
        padding: 10px;
        width: 33vw;
        height: 8vh;
        right: 68vw;
      }

    }

  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    padding: 30px 0;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
  }
  
  #header #logo {
    float: left;
  }
  
  #header #logo h1 {
    font-size: 30px;
    margin: -4px 0 0 0;
    line-height: 1;
    display: inline-block;
    font-family: "Nithan","Montserrat", sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #header #logo h1 a, #header #logo h1 a:hover {
    color: #fff;
  }
  
  #header #logo img {
    padding: 0;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #header #logo h1 {
      font-size: 20px;
      margin-top: 0;
    }
    #header #logo img {
      max-height: 40px;
    }
  }
  
  #header.header-fixed {
    background: linear-gradient(135deg, #ff6811, #ffae18);
    padding: 20px 0;
    height: 72px;
    transition: all 0.5s;
  }
  
  /*--------------------------------------------------------------
  # Intro Section
  --------------------------------------------------------------*/
  
  
  
  #intro {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #ff6811, #ffae18), url("../img/intro-bg.jpg") center top no-repeat;
    background-size: cover;
    position: relative;
  }
  
  @media (min-width: 1024px) {
    #intro {
      background-attachment: fixed;
    }
  }
  
  #intro .intro-text {
    position: absolute;
    left: 0;
    top: 60px;
    right: 0;
    height: calc(50% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  
  #intro h2 {
    margin: 30px 0 10px 0;
    padding: 0 15px;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    #intro h2 {
      font-size: 28px;
      line-height: 36px;
    }
  }
  
  #intro p {
    color: #fff;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 24px;
  }
  
  @media (max-width: 768px) {
    #intro p {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }
  
  #intro .btn-get-started {
    font-family:"Nithan", "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #intro .btn-get-started:hover {
    color: #1dc8cd;
    background: #fff;
  }
  
  #intro .product-screens {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 50%;
  }
  
  #intro .product-screens img {
    box-shadow: 0px -2px 19px 4px rgba(0, 0, 0, 0.29);
  }
  
  #intro .product-screens .product-screen-1 {
    position: absolute;
    z-index: 30;
    left: calc(50% + 54px);
    bottom: 0;
    top: 30px;
  }
  
  #intro .product-screens .product-screen-2 {
    position: absolute;
    z-index: 20;
    left: calc(50% - 154px);
    bottom: 0;
    top: 90px;
  }
  
  #intro .product-screens .product-screen-3 {
    position: absolute;
    z-index: 10;
    left: calc(50% - 374px);
    bottom: 0;
    top: 150px;
  }
  
  @media (max-width: 767px) {
    #intro .product-screens .product-screen-1 {
      position: static;
      padding-top: 30px;
    }
    #intro .product-screens .product-screen-2, #intro .product-screens .product-screen-3 {
      display: none;
    }
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Nav Menu Essentials */
  .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
  }
  
  .nav-menu li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu > li {
    float: left;
  }
  
  .nav-menu li:hover > ul,
  .nav-menu li.sfHover > ul {
    display: block;
  }
  
  .nav-menu ul ul {
    top: 0;
    left: 100%;
  }
  
  .nav-menu ul li {
    min-width: 180px;
  }
  
  /* Nav Menu Arrows */
  .sf-arrows .sf-with-ul {
    padding-right: 30px;
  }
  
  .sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: "Nithan";
    font-style: normal;
    font-weight: normal;
  }
  
  .sf-arrows ul .sf-with-ul:after {
    content: "\f105";
  }
  
  /* Nav Meu Container */
  #nav-menu-container {
    float: right;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #nav-menu-container {
      display: none;
    }
  }
  
  /* Nav Meu Styling */
  .nav-menu a {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-family: "Nithan", sans-serif;
    font-weight: 400;
    font-size: 18px;
    outline: none;
  }
  
  .nav-menu > li {
    margin-left: 10px;
  }
  
  .nav-menu ul {
    margin: 4px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
  }
  
  .nav-menu ul li {
    transition: 0.3s;
  }
  
  .nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 13px;
    text-transform: none;
  }
  
  .nav-menu ul li:hover > a {
    color: #74abad;
  }
  
  .nav-menu ul ul {
    margin: 0;
  }
  
  /* Mobile Nav Toggle */
  #mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
  }
  
  #mobile-nav-toggle i {
    color: #fff;
  }
  
  @media (max-width: 768px) {
    #mobile-nav-toggle {
      display: inline;
    }
  }
  
  /* Mobile Nav Styling */
  #mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(52, 59, 64, 0.9);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
  }
  
  #mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  #mobile-nav ul li {
    position: relative;
  }
  
  #mobile-nav ul li a {
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
  }
  
  #mobile-nav ul li a:hover {
    color: #fff;
  }
  
  #mobile-nav ul li li {
    padding-left: 30px;
  }
  
  #mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
  }
  
  #mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #93f8fc;
  }
  
  #mobile-nav ul .menu-item-active {
    color: #1dc8cd;
  }
  
  #mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(52, 59, 64, 0.9);
    display: none;
  }
  
  /* Mobile Nav body classes */
  body.mobile-nav-active {
    overflow: hidden;
  }
  
  body.mobile-nav-active #mobile-nav {
    left: 0;
  }
  
  body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
  }
  
  /*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
  /* Sections Header
  --------------------------------*/
  .section-header .section-title {
    font-size: 32px;
    color: #111;
    text-align: center;
    font-weight: 400;
  }
  
  .section-header .section-description {
    text-align: center;
    padding-bottom: 40px;
    color: #777;
    font-style: italic;
  }
  
  .section-header .section-divider {
    display: block;
    width: 60px;
    height: 3px;
    background: #1dc8cd;
    background: linear-gradient(135deg, #ff5411, #ff8018);
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  /* Section with background
  --------------------------------*/
  .section-bg {
    background: #edf5f5;
  }
  
  
  /* About Us Section
  --------------------------------*/
  #about {
    padding: 60px 0;
    overflow: hidden;
  }
  
  #about .about-img {
    height: 510px;
    overflow: hidden;
  }
  
  #about .about-img img {
    margin-left: -15px;
    max-width: 100%;
  }
  
  @media (max-width: 768px) {
    #about .about-img {
      height: auto;
    }
    #about .about-img img {
      margin-left: 0;
      padding-bottom: 30px;
    }
  }
  
  #about .content .h2 {
    color: #333;
    font-weight: 300;
    font-size: 24px;
  }
  
  #about .content h3 {
    color: #777;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    font-style: italic;
  }
  
  #about .content p {
    line-height: 26px;
  }
  
  #about .content p:last-child {
    margin-bottom: 0;
  }
  
  #about .content i {
    font-size: 20px;
    padding-right: 4px;
    color: #1dc8cd;
  }
  
  #about .content ul {
    list-style: none;
    padding: 0;
  }
  
  #about .content ul li {
    padding-bottom: 10px;
  }
  
  /* Product Featuress Section
  --------------------------------*/
  #features {
  background:  url(../img/background/1bg.jpg) fixed center center;
  background-size: cover;
  padding: 60px 0 60px 0;
  overflow: hidden;
  }

  #features img{
    width: 130px; 
    height: 130px;
  }
  
  #features .features-img {
  text-align: center;
  padding-top: 20px;
  }
  
  @media (min-width: 769px) {
  #features .features-img {
    padding-top: 120px;
    margin-top: -200px;
  }
  }
  
  #features .features-img img {
  max-width: 100%;
  }
  
  #features .box {
  margin-bottom: 15px;
  text-align: center;
  }
  
  #features .icon {
  margin-bottom: 10px;
  }
  
  #features .icon i {
  color: #666666;
  font-size: 40px;
  transition: 0.5s;
  }
  
  #features .icon i:before {
  background: #1dc8cd;
  background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  
  #features .title {
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 22px;
  }
  
  #features .title a {
  color: #111;
  }
  
  #features .description {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
  }
  
  #features .section-description {
  padding-bottom: 10px;
  }
  
  #features .content .h2 {
    color: rgb(235, 139, 50);
    font-weight: 1000;
    font-size: 26px;
  }
  
  #features .content h3 {
    color: #777;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    font-style: italic;
  }
  
  #features .content p {
    font-size: 20px;
    line-height: 26px;
  }
  
  #features .content p:last-child {
    margin-bottom: 0;
  }
  
  #features .content i {
    font-size: 20px;
    padding-right: 4px;
    color: #cd631d;
  }
  
  #features .content ul {
    list-style: none;
    padding: 0;
  }
  
  #features .content ul li {
    padding-bottom: 10px;
    font-size: 20px;
    padding-left: 30px;
  }
  #features .about-img {
    height: 510px;
    overflow: hidden;
  }
  
  #features .about-img img {
    margin-left: -15px;
    max-width: 100%;
  }
  
  @media (max-width: 768px) {
    #features .about-img {
      height: auto;
    }
    #features .about-img img {
      margin-left: 0;
      padding-bottom: 30px;
  
    }
    #features img {
      width: 70px; 
      height: 70px;
    }
    #features .title {
      font-size: 18px;
      }

  }
  
  /* Product Advanced Featuress Section
  --------------------------------*/
  #advanced-features {
    overflow: hidden;
  }
  
  #advanced-features .features-row {
    padding: 60px 0 60px 0;
  }
  
  #advanced-features h2 {
    font-size: 26px;
    font-weight: 700;
    color: #000;
  }
  
  #advanced-features h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    color: #999;
  }
  
  #advanced-features p {
    line-height: 24px;
    color: #777;
    margin-bottom: 30px;
  }
  
  #advanced-features i {
    color: #666666;
    font-size: 64px;
    transition: 0.5s;
    float: left;
    padding: 0 15px 0px 0;
    line-height: 1;
  }
  
  #advanced-features i:before {
    background: #1dc8cd;
    background: linear-gradient(135deg, #ff6811, #ffae18);
    /* background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%); */
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #advanced-features .advanced-feature-img-right {
    max-width: 100%;
    float: right;
    padding: 0 0 30px 30px;
  }
  
  #advanced-features .advanced-feature-img-left {
    max-width: 100%;
    float: left;
    padding: 0 30px 30px 0;
  }
  
  @media (max-width: 768px) {
    #advanced-features .advanced-feature-img-right, #advanced-features .advanced-feature-img-left {
      max-width: 50%;
    }
  }
  
  @media (max-width: 767px) {
    #advanced-features .advanced-feature-img-right, #advanced-features .advanced-feature-img-left {
      max-width: 100%;
      float: none;
      padding: 0 0 30px 0;
    }
  }
  
  /* Call To Action Section
  --------------------------------*/
  #call-to-action {
    overflow: hidden;
    background: linear-gradient(rgba(29, 200, 205, 0.65), rgba(29, 205, 89, 0.2)), url(../img/call-to-action-bg.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
  }
  
  #call-to-action .cta-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }
  
  #call-to-action .cta-text {
    color: #fff;
  } 
  
  @media (min-width: 769px) {
    #call-to-action .cta-btn-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  
  #call-to-action .cta-btn {
    font-family: "Nithan","Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 25px;
    transition: background 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #call-to-action .cta-btn:hover {
    background: #1dc8cd;
    border: 2px solid #1dc8cd;
  }
  
  /* More Features Section
  --------------------------------*/
  #more-features {
  background: linear-gradient(
    rgba(255, 255, 255, 0.4), 
    rgba(255, 255, 255, 0.4)
  ), url(../img/15.jpg) fixed center center;
  background-size: cover;
  padding: 0 0 60px 0;
  overflow: hidden;
  }

  #more-features h4 {
    text-decoration: underline;
  }
  
  #more-features .box {
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  transition: 0.4s;
  }
  
  #more-features .video-item {
  height: 550px;
  }
  
  #more-features .icon {
  float: left;
  }

  #more-features .icon img{
    height: 90px;
    width: 90px;
    }
  
  #more-features .icon i {
  color: #666666;
  font-size: 80px;
  transition: 0.5s;
  line-height: 0;
  }
  
  #more-features .icon i:before {
  background: #1dc8cd;
  background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  
  #more-features h4 {
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
  }
  #more-features  .videotxt {
  margin-left: 200px;
  }
  
  #more-features h4 a {
  color: #111;
  }
  
  #more-features p {
  font-size: 18px;
  margin-left: 100px;
  margin-bottom: 0;
  line-height: 24px;
  }
  
  
  @media (max-width: 767px) {
  #more-features .box {
    margin-bottom: 20px;
    height: 80px;
    padding: 10px;
  }
  
  #more-features .video-item {
    height: 250px;
   }
  #more-features .icon {
    float: left;
    text-align: center;
    padding-bottom: 10px;
  }
  #more-features h4, #more-features p {
    margin-left: 0;
    text-align: center;
    margin-bottom: 0pxs;  
    font-size: 18px;
  }
  #more-features  .videotxt {
      margin-left: 0;
  }
  #more-features .icon img{
    height: 50px;
    width: 50px;
    }
  }
  
  /* VDO Section
  --------------------------------*/
  #vdo {
      background: linear-gradient(
        rgba(255, 255, 255, 0.4), 
        rgba(255, 255, 255, 0.4)
      ), url(../img/14.jpg) fixed center center;
      background-size: cover;
      padding: 0 0 60px 0;
      overflow: hidden;
      }
    
      #vdo h4 {
        text-decoration: underline;
      }
      
      #vdo .box {
      padding: 40px;
      margin-bottom: 30px;
      box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
      background: #ffeedd;
      transition: 0.4s;
      /* height: 200px; */
    }
      
      #vdo .video-item {
      height: 550px;
      }
      
      #vdo .icon {
      float: left;
      }
      
      #vdo .icon i {
      color: #666666;
      font-size: 80px;
      transition: 0.5s;
      line-height: 0;
      }
      
      #vdo .icon i:before {
      background: #1dc8cd;
      background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      }
      
      #vdo h4 {
      margin-left: 100px;
      font-weight: 700;
      margin-bottom: 15px;
      font-size: 24px;
      }
      #vdo .videotxt {
      margin-left: 200px;
      }
      
      #vdo h4 a {
      color: #111;
      }
      
      #vdo p {
      font-size: 18px;
      margin-left: 100px;
      margin-bottom: 0;
      line-height: 24px;
      }
      
      
      @media (max-width: 767px) {
      #vdo .box {
        margin-bottom: 20px;
        /* height: 280px;           */
      }
      
      #vdo .video-item {
        height: 250px;
       }
      #vdo .icon {
        float: none;
        text-align: center;
        padding-bottom: 10px;
      }
      #vdo h4, #vdo p {
        margin-left: 0;
        text-align: center;
      }
      #vdo  .videotxt {
          margin-left: 0;
      }
      }

      /* A news pro Section
  --------------------------------*/
  #anewspro {
    background: linear-gradient(
      rgba(255, 255, 255, 0.4), 
      rgba(255, 255, 255, 0.4)
    ), url(../img/14.jpg) fixed center center;
    background-size: cover;
    padding: 0 0 60px 0;
    overflow: hidden;
    }
  
    #anewspro h4 {
      text-decoration: underline;
    }
    
    #anewspro .boxsubtitle {
    padding: 40px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    background: #fff;
    transition: 0.4s;
    margin: auto auto 20px auto;
    width: 80%;
    }

    #anewspro .box {
      padding: 40px;
      margin-bottom: 30px;
      box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
      background: #fff;
      transition: 0.4s;

      }
    
    #anewspro .video-item {
    height: 550px;
    }

    #anewspro .imgpro img {
      height: 90vh;
      width: 100%;
      margin: auto auto 20px auto;
      }
    
    #anewspro .icon {
    float: left;
    }
    
    #anewspro .icon i {
    color: #666666;
    font-size: 80px;
    transition: 0.5s;
    line-height: 0;
    }
    
    #anewspro .icon i:before {
    background: #1dc8cd;
    background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    
    #anewspro h4 {
    margin-left: 100px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
    }
    #anewspro .videotxt {
    margin-left: 200px;
    }
    
    #anewspro h4 a {
    color: #111;
    }
    
    #anewspro p {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 24px;
    }
    
    
    @media (max-width: 767px) {
    #anewspro .box {
      margin-bottom: 20px;
    }
    #anewspro .boxsubtitle {
      width: 100%;
      }
    
    #anewspro .video-item {
      height: 250px;
     }
     #anewspro .imgpro img {
      height: 25vh;
      }
    #anewspro .icon {
      float: none;
      text-align: center;
      padding-bottom: 10px;
    }
    #anewspro h4, #anewspro p {
      margin-left: 0;
      text-align: center;
    }
    #anewspro  .videotxt {
        margin-left: 0;
    }
    }

  /******/
  #top-hit-9{
  padding: 0 0 60px 0;
  /* background: #e9b78e; */
  background:  linear-gradient(
    rgba(255, 255, 255, 0.7), 
    rgba(255, 255, 255, 0.7)
  ),url(../img/background/d.jpg) fixed center center;
  background-size: cover;
  overflow: hidden;
  
  }

  #top-hit-9 .iconbg{
    padding: 0 0 0 120px;
  }

  #top-hit-9 .iconbg h2{
    font-size: 24px;
    color: orange;
  }

  #top-hit-9 .iconbgnew{
    padding: 0 0 0 120px;
  }

  #top-hit-9 .iconbgnew h2{
    font-size: 24px;
    color: red;
  }

  #top-hit-9 .imgrank1{
    background: url("../img/icon/rr1.png") no-repeat; 
    padding: 18px 0 22px 87px;
    text-align: left;
  }

  #top-hit-9 .imgrank2{
    background: url("../img/icon/rr2.png") no-repeat; 
    padding: 18px 0 22px 87px;
    text-align: left;
  }

  #top-hit-9 .imgrank3{
    background: url("../img/icon/rr3.png") no-repeat; 
    padding: 18px 0 22px 87px;
    text-align: left;
  }

  #top-hit-9 .newhouse{
    background: url("../img/icon/n1.png") no-repeat; 
    padding: 18px 0 22px 87px;
    text-align: left;
  }

  
  #top-hit-9 .box {
  padding: 20px 10px 0px 10px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #ffeedd;
  transition: 0.4s;
  height: 500px;
  }
/*   
  #top-hit-9 .boxpic {
  padding: 40px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #ffeedd;
  transition: 0.4s;
  } */
  
  #top-hit-9 .video-item {
  height: 550px;
  }
  
  #top-hit-9 .icon {
  float: left;
  margin-left: 130px;
  }
  
  #top-hit-9 .icon i {
  color: #666666;
  font-size: 80px;
  transition: 0.5s;
  line-height: 0;
  }
  
  #top-hit-9 .icon i:before {
  background: #1dc8cd;
  background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  
  #top-hit-9 h4 {
  text-align: center;
  font-size: 48px;
  color: red;
  }
  #top-hit-9  .contenttxt {
  margin-left: 200px;
  }
  
  #top-hit-9 h4 a {
  color: #111;
  }
  
  #top-hit-9 .section-divider {
    display: block;
    width: 150px;
    height: 3px;
    background: #1dc8cd;
    background: linear-gradient(135deg, #ff5411, #ff8018);
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  #top-hit-9 p {
  margin-top: 15px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 13px;
  line-height: 24px;
  }
  
  
  #top-hit-9 button[type="submit"] {
    background: linear-gradient(135deg, #ff6811, #ffae18);
    border: 0;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
  }
  
  #top-hit-9 button[type="submit"]:hover {
    cursor: pointer;
  }
  
  @media (max-width: 767px) {
  #top-hit-9 .iconbg{
    padding: 0 0 0 50px;
  }
  #top-hit-9 .iconbgnew{
    padding: 0 0 0 60px;
  }
  /* #top-hit-9 .imgrank1{
    background: url("../img/icon/r1.png") no-repeat; 
    padding: 20px 0 16px 87px;
    text-align: left;
  }

  #top-hit-9 .imgrank2{
    background: url("../img/icon/r2.png") no-repeat; 
    padding: 20px 0 16px 87px;
    text-align: left;
  }

  #top-hit-9 .imgrank3{
    background: url("../img/icon/r3.png") no-repeat; 
    padding: 20px 0 16px 87px;
    text-align: left;
  }

  #top-hit-9 .newhouse{
    background: url("../img/iconnew2.png") no-repeat; 
    padding: 20px 0 16px 87px;
    text-align: left;
  } */

  #top-hit-9 .box {
    height: 65vh;
    
  }
  #top-hit-9 .boxpic {
    margin-bottom: 10px;
    padding: 10px;
    
  }
  
  #top-hit-9 .video-item {
    height: 250px;
   }
  #top-hit-9 .icon {
    margin-left: 0px;
    float: none;
    text-align: center;
    padding-bottom: 10px;
  }
  #top-hit-9 h4, #top-hit-9 p {
    margin-left: 0;
    text-align: center;
  }
  #top-hit-9  .contenttxt {
      margin-left: 0;
  }
  
  }
  
  /* News and Pro
  --------------------------------*/
  #newspro {
    padding: 60px 0 60px 0;
    background:  url(../img/background/1bg.jpg) fixed center center;
    background-size: cover;
    overflow: hidden;
    }
    
    #newspro h2 {
      font-size: 40px;
    }

    #newspro h3 {
      font-size: 30px;
      text-decoration: underline;
    }

    #newspro .box {
    margin-bottom: 40px;
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    background: #fff;
    transition: 0.4s;
    height: 45vh;
    }

      #newspro .box img {
        width: 30vw;
        height: 30vh;
        margin: 30px;
    }
  
    #newspro .iconnewspro {
      height: 60px;   
      margin-left: 80px; 
      margin-right: 40px; 
      margin-bottom: 20px;
      }
    
    #newspro .video-item {
    height: 550px;
    }
    
    #newspro .icon {
    float: left;
    }
  
    #newspro  .icon i {
    color: #666666;
    font-size: 80px;
    transition: 0.5s;
    line-height: 0;
    }
    
  #newspro  .icon i:before {
    background: #1dc8cd;
    background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    #newspro  h4 {
    margin-left: 100px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
    }
    #newspro    .videotxt {
    margin-left: 250px;
    }
    
    #newspro   h4 a {
    color: #111;
    }
    
    #newspro   p {
    font-size: 18px;
    margin-left: 100px;
    margin-bottom: 0;
    line-height: 24px;
    }

    #newspro button[type="submit"] {
      background: linear-gradient(135deg, #ff6811, #ffae18);
      border: 0;
      border-radius: 20px;
      padding: 8px 30px;
      color: #fff;
    }
    
    #newspro button[type="submit"]:hover {
      cursor: pointer;
    }
    
    
    @media (max-width: 767px) {
      #newspro   .box {
      margin-bottom: 20px;
      height: 40vh;
    }
    
    #newspro  .video-item {
      height: 250px;
     }
     #newspro   .icon {
      float: none;
      text-align: center;
    }
    #newspro   h4, #newspro   p {
      margin-left: 0;
      text-align: center;
    }
    #newspro   .videotxt {
        margin-left: 0;
    }
    #newspro .box img {
      width: 85vw;
      height: 30vh;
      margin: 10px;
    }
    }
  
  /* Clients Section
  --------------------------------*/
  #clients {
    padding: 30px 0;
    background: #fff;
    overflow: hidden;
  }
  
  #clients img {
    max-width: 100%;
    opacity: 0.5;
    transition: 0.3s;
    padding: 15px 0;
  }
  
  #clients img:hover {
    opacity: 1;
  }
  
  /* Pricing Section
  --------------------------------*/
  #pricing {
    padding: 60px 0 60px 0;
    overflow: hidden;
  }
  
  #pricing .box {
    padding: 40px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    background: #fff;
    text-align: center;
  }
  
  #pricing h3 {
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 28px;
  }
  
  #pricing h4 {
    font-size: 46px;
    color: #1dc8cd;
    font-weight: 300;
  }
  
  #pricing h4 sup {
    font-size: 20px;
    top: -20px;
  }
  
  #pricing h4 span {
    color: #bababa;
    font-size: 20px;
  }
  
  #pricing ul {
    padding: 0;
    list-style: none;
    color: #999;
    text-align: left;
    line-height: 20px;
  }
  
  #pricing ul li {
    padding-bottom: 12px;
  }
  
  #pricing ul i {
    color: #1dc8cd;
    font-size: 18px;
    padding-right: 4px;
  }
  
  #pricing .get-started-btn {
    background: #515e61;
    display: inline-block;
    padding: 6px 30px;
    border-radius: 20px;
    color: #fff;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Nithan","Montserrat", sans-serif;
  }
  
  #pricing .featured {
    border: 2px solid #1dc8cd;
  }
  
  #pricing .featured .get-started-btn {
    background: linear-gradient(135deg, #ff6811, #ffae18);
  }
  
  /* Frequently Asked Questions Section
  --------------------------------*/
  #faq {
    padding: 60px 0;
    overflow: hidden;
  }
  
  #faq #faq-list {
    padding: 0;
    list-style: none;
  }
  
  #faq #faq-list li {
    border-bottom: 1px solid #ddd;
  }
  
  #faq #faq-list a {
    padding: 18px 0;
    display: block;
    position: relative;
    font-family: "Nithan","Montserrat", sans-serif;
    font-size: 22px;
    line-height: 1;
    font-weight: 300;
    padding-right: 20px;
  }
  
  #faq #faq-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 16px;
  }
  
  #faq #faq-list p {
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    #faq #faq-list a {
      font-size: 18px;
    }
    #faq #faq-list i {
      top: 13px;
    }
  }
  
  #faq #faq-list a.collapse {
    color: #1dc8cd;
  }
  
  #faq #faq-list a.collapsed {
    color: #000;
  }
  
  #faq #faq-list a.collapsed i::before {
    content: "\f2c7" !important;
  }
  
  /* Our Team Section
  --------------------------------*/
  #team {
    background:  linear-gradient(
        rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.7)
      ),url(../img/background/bgsearch2.jpeg) fixed center center;
    background-size: cover;
    padding: 60px 0 60px 0;
    overflow: hidden;
  }
  
  #team .member {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #team .member .pic {
    margin-bottom: 15px;
    overflow: hidden;
    height: 220px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (max-width: 768px) {
    #team .member .pic {
      width: 90vw;
      }
  }
  
  #team .member .pic img {
    max-width: 100%;
  }
  
  #team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
  }
  
  #team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
  }
  
  #team .member .social {
    margin-top: 15px;
  }
  
  #team .member .social a {
    color: #b3b3b3;
  }
  
  #team .member .social a:hover {
    color: #1dc8cd;
  }
  
  #team .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  #team .contact-about h3 {
    font-size: 65px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-family: "Nithan","Montserrat", sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
  }

  #team .contact-about h4 {
      font-size: 25px;
      margin: 0 0 10px 0;
      padding: 0;
      line-height: 1;
      font-family: "Nithan","Montserrat", sans-serif;
      font-weight: 300;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #fff;
  }

  #team .contact-about p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Nithan","Montserrat", sans-serif;
    color: #fff;
  }
  
  #team .social-links {
    padding-bottom: 20px;
  }
  
  #team .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #fff;
    color: #ff570a;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    border: 1px solid #ff570a;
  }
  
  #team .social-links a:hover {
    background: #ff570a;
    color: #fff;
  }
  
  #team .info {
    color: #333333;
  }
  
  #team .info i {
    font-size: 32px;
    color: #ff570a;
    float: left;
    line-height: 1;
  }
  
  #team .info p {
    padding: 0 0 10px 42px;
    line-height: 28px;
    font-size: 14px;
  }
  
  #team .form #sendmessage {
    color: #ff570a;
    border: 1px solid #ff570a;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  #team .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  #team .form #sendmessage.show, #team .form #errormessage.show, #team .form .show {
    display: block;
  }
  
  #team .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
  }
  
  #team .form input, #team .form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  #team .form  input[type="submit"] {
    background: linear-gradient(135deg, #ff6811, #ffae18);
    border: 0;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
  }
  
  #team .form  input[type="submit"]:hover {
    cursor: pointer;
  }

  #team .bgcolor{
      background: url('../img/background/bgsearch5.jpg') fixed center center;
      padding-bottom: 15px;
  }
  
  /* Gallery Section
  --------------------------------*/
  #gallery {
    /* background:  url(../img/background/4bg.jpeg) fixed center center;
    background-size: cover; */
    /* background: #e9b78e; */
    background:  linear-gradient(
        rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.7)
      ),url(../img/2p.jpg) fixed center center;
    padding: 0px 0 0 0;
    overflow: hidden;
  }
  
  #gallery .container-fluid {
    padding: 0px;
  }
  
  #gallery .gallery-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }
  #gallery .box {
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    background: #fff;
    transition: 0.4s;
    }
  
  #gallery .gallery-item {
    overflow: hidden;
    position: relative;
    padding: 0;
    vertical-align: middle;
    text-align: center;
  }
  
  #gallery .gallery-item img {
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    width: 450px;
    height: 280px;
  }
  
  @media (max-width: 768px) {
    #gallery .gallery-item img {
      width: 90vw;
        height: 200px;
        margin-bottom: 30px;
      }
  }
  #gallery .gallery-item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  #gallery .gallery-item:hover .gallery-overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
  }
  
  #gallery button[type="submit"] {
    background: linear-gradient(135deg, #ff6811, #ffae18);
    border: 0;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
  }
  
  #gallery button[type="submit"]:hover {
    cursor: pointer;
  }
  

  /* home Section
  --------------------------------*/
  #home {
    /* background:  url(../img/background/4bg.jpeg) fixed center center;
    background-size: cover; */
    /* background: #e9b78e; */
    background:  linear-gradient(
        rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.7)
      ),url(../img/16.jpg) fixed center center;
    padding: 0px 0 0 0;
    overflow: hidden;
  }
  
  #home .container-fluid {
    padding: 0px;
  }
  
  #home .gallery-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }
  #home .box {
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    background: #fff;
    transition: 0.4s;
    }
  
  #home .gallery-item {
    overflow: hidden;
    position: relative;
    padding: 0;
    vertical-align: middle;
    text-align: center;
  }
  
  #home .gallery-item img {
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    width: 100%;
    height: 500px;
  }
  
  @media (max-width: 768px) {
    #home .gallery-item img {
        width: 280px;
        height: 200px;
        margin-bottom: 30px;
      }
  }
  #home .gallery-item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  #home .gallery-item:hover .gallery-overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
  }
  
  #home button[type="submit"] {
    background: linear-gradient(135deg, #ff6811, #ffae18);
    border: 0;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
  }
  
  #home button[type="submit"]:hover {
    cursor: pointer;
  }
  
  
  /* Contact Section
  --------------------------------*/
  #contact {
      background: linear-gradient(
          rgba(255, 255, 255, 0.7), 
          rgba(255, 255, 255, 0.7)
          ),url("../img/16.jpg") fixed center center;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 60px 0;
    overflow: hidden;
  }
  
  #contact .contact-about h3 {
    font-size: 40px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-family: "Nithan","Montserrat", sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ff570a;
    text-align: center;
  }
  
  #contact .contact-about h4 {
      font-size: 30px;
      margin: 0 0 10px 0;
      padding: 0;
      line-height: 1;
      font-family: "Nithan","Montserrat", sans-serif;
      font-weight: 300;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #ff570a;
      text-align: center;
  }

  #contact .contact-about p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Nithan","Montserrat", sans-serif;
    color: #888;
  }
  
  #contact .social-links {
    padding-bottom: 20px;
  }
  
  #contact .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #fff;
    color: #ff570a;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    border: 1px solid #ff570a;
  }
  
  #contact .social-links a:hover {
    background: #ff570a;
    color: #fff;
  }
  
  #contact .info {
    color: #333333;
  }
  
  #contact .info i {
    font-size: 32px;
    color: #ff570a;
    float: left;
    line-height: 1;
  }
  
  #contact .info p {
    padding: 0 0 10px 42px;
    line-height: 28px;
    font-size: 14px;
  }
  
  #contact .form #sendmessage {
    color: #ff570a;
    border: 1px solid #ff570a;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  #contact .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  #contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
    display: block;
  }
  
  #contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
  }
  
  #contact .form input, #contact .form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  #contact .form button[type="submit"] {
    background: linear-gradient(135deg, #ff6811, #ffae18);
    border: 0;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
  }
  
  #contact .form button[type="submit"]:hover {
    cursor: pointer;
  }
  
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    background: #fff;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    color: #333;
    font-size: 14px;
    
  }

  #footer .imgfooter {
      height: 10vw;
  }
  
  #footer .credits {
    font-size: 13px;
    color: #888;
  }
  
  #footer .footer-links a {
    color: #666;
    padding-left: 15px;
  }
  
  #footer .footer-links a:first-child {
    padding-left: 0;
  }
  
  #footer .footer-links a:hover {
    color: #ff570a;
  }
  
  @media only screen and (max-width: 768px) {
      #footer .imgfooter {
          height: 20vw;
      }
  }
  
  #map {
    width:100%;
    height:500px;
    padding-top: 80px;
  }


      .carousel-item img {
        margin-top: 70px;
        height: 92vh;
        width: 100vw;
        min-height: 200px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        }
  
      .carousel-inner > .item > img,
      .carousel-inner > .item > a > img {
          width: 70%;
          margin: auto;
      }
  

      
    @media only screen and (max-width: 768px) {

  
      .carousel-item img {
        height: 40vh; 
      }
  
      .carousel-control-prev {
        left: 0;
       
      }
    
      .carousel-control-next {
        right: 0
      }
    }
  #address {
    background:  linear-gradient(
    rgba(255, 255, 255, 0.3), 
    rgba(255, 255, 255, 0.3)
    ),url(../img/background/2.jpg) fixed center center;
    background-size: cover;
    padding: 60px 0 60px 0;
    overflow: hidden;
    }
     
#address h3{
    font-size:30px;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 10px;
}

#address p{
    font-size:20px;
    text-align: center;
}
#aboutt {
    background: url(../img/background/bgabout.jpg) fixed center center;
    background-size: cover;
    padding: 60px 0 60px 0;
    overflow: hidden;
    }
  #aboutt .tabcontent { 
      padding: 20px 70px 40px 70px;
  }
  #aboutt h3{
      font-family: 'Nithan';
      font-size: 40px;
      text-align: center;
      text-decoration: underline;
  }
  #aboutt h4{
      font-family: 'Nithan';
      font-size: 36px;
      text-align: center;
      text-decoration: underline;
  }
  #aboutt h5{
      font-family: 'Nithan';
      font-size: 30px;
      text-align: center;
      text-decoration: underline;
  }
  #aboutt h6{
      font-family: 'Nithan';
      font-size: 28px;
      padding-left: 80px;
      text-decoration: underline;
  }
  #aboutt p{
      font-family: 'Nithan';
      font-size: 24px;                
   }
  #aboutt a{
      font-family: 'Nithan';
      font-size: 24px;
      color: #000;
   }

   @media only screen and (max-width: 768px) {
  #aboutt {
      background: url(../img/background/bgabout.jpg) fixed center center;
      background-size: cover;
      padding: 20px 0 20px 0;
      overflow: hidden;
      }
  #aboutt .tabcontent { 
      padding: 20px 30px 40px 30px;
  }
  #aboutt .pdl50 { 
      padding-left: 50px;
  }
     
    #aboutt h3{
      font-family: 'Nithan';
      font-size: 36px;
      text-align: center;
      text-decoration: underline;
    }
    #aboutt h4{
        font-family: 'Nithan';
        font-size: 30px;
        text-align: center;
        text-decoration: underline;
    }
    #aboutt h5{
        font-family: 'Nithan';
        font-size: 28px;
        text-align: center;
        text-decoration: underline;
    }
    #aboutt h6{
        font-family: 'Nithan';
        font-size: 24px;
        padding-left: 80px;
        text-decoration: underline;
    }
    #aboutt p{
        font-family: 'Nithan';
        font-size: 18px;                
    }
    #aboutt a{
        font-family: 'Nithan';
        font-size: 18px;
        color: #000;
    }
   }


/* Spec
  --------------------------------*/
  #spec {
    padding: 60px 0 60px 0;
    background:  url(../img/background/1bg.jpg) fixed center center;
    background-size: cover;
    overflow: hidden;
    }
    
    #spec h2 {
      font-size: 40px;
    }

    #spec h3 {
      font-size: 30px;
      text-decoration: underline;
    }

    #spec .box {
    padding: 40px 40px 50px 40px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    background: #fff;
    transition: 0.4s;
    height: 180px;
    }

      #spec .box img {
      height: 100px;
    }
  
    #spec .iconnewspro {
      height: 60px;   
      margin-left: 80px; 
      margin-right: 40px; 
      margin-bottom: 20px;
      }
    
    #spec .video-item {
    height: 550px;
    }
    
    #spec .icon {
    float: left;
    margin-left: 40px;
    }
  
    #spec  .icon i {
    color: #666666;
    font-size: 80px;
    transition: 0.5s;
    line-height: 0;
    }
    
  #spec  .icon i:before {
    background: #1dc8cd;
    background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    #spec h4 {
    margin-left: 50px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
    }
    #spec .videotxt {
    margin-left: 230px;
    }
    
    #spec   h4 a {
    color: #111;
    }
    
    #spec   p {
    font-size: 18px;
    margin-left: 100px;
    margin-bottom: 0;
    line-height: 24px;
    }
    
    
    @media (max-width: 767px) {
      #spec   .box {
      margin-bottom: 20px;
      height: 250px;
    }
    
    #spec  .video-item {
      height: 250px;
     }
     #spec   .icon {
      float: none;
      text-align: center;
      padding-bottom: 10px;
    }
    #spec   h4, #spec   p {
      margin-left: 0;
      text-align: center;
    }
    #spec   .videotxt {
        margin-left: 0;
    }
    }